<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<li>
<%= link_to('Login', new_user_session_path)  %>
</li>
<div class="center">
  <% if devise_mapping.omniauthable? %>
    <h4 class="margin-section" ><%= t ".or_login_with" %></h4>
    <% resource_class.omniauth_providers.each do |provider| %>
      <% if OmniAuth::Utils.camelize(provider) == "Facebook" %>
        <%= link_to t(".facebook"), omniauth_authorize_path(resource_name, provider),
          class: "button button-rounded si-facebook si-colored" %>
        <span class="hidden-xs"></span>
      <% elsif OmniAuth::Utils.camelize(provider) == "GoogleOauth2" %>
        <%= link_to t(".google"), omniauth_authorize_path(resource_name, provider),
          class: "button button-rounded si-google si-colored" %>
      <% end %>
    <% end %>
  <% end %>
</div>
